@media only screen and (max-width: 1200px) {
	.todo {
		width: 70%;
	}
}

@media only screen and (max-width: 576px) {

	.modalContainer {
		.modalLogin {
			width: 40%;
			height: 30%;
			form {
				span {
					font-size: 1.5rem;
				}
				b {
					font-size: 1.1rem;
				}
				button {
					min-width: 30%;
					height: 1.7rem;
					font-size: 1rem;
				}
			}

		}
	}

	.container {
		padding: 11rem 2rem 0;
		.todo {
			width: 95%;
			.list {
				max-height: 60vh;
			}
		}
	}
}